<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fake Steam Market</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
		 <script>
			  	function func(){
			  		var itemDiv = $('#tempItem');
			  		var name = itemDiv.data('name'), 
			  			info = itemDiv.data('info'),
			  			price = itemDiv.data('price');

			  		console.log(name + " " + info + " "+price)
			  	}
			  </script>
	<div class="container-fluid">
		  
		<div class="page-header">
			
			<h2> Item list </h2>
		</div>
		<div class="row">
		<% for i in 0..@all_items.length-1 %>
			<% t = @all_items[i] %>
			<div class="col-sm-4" id="tempItem" name="<%= t.name %>" info="<%= t.description %>" price ="<%= t.price %>">		
				Name: <%= t.name %><br>
				Info: <%= t.description %><br>
				price: <%= t.price %><br>
				<% if user_signed_in? %>
				<br>
				<%= form_tag url_for(:controller=>"home", :action => "addtocart" ),  :method => "post" do %>
					
					<%= hidden_field_tag :item_id,  t.id %>
					<%= submit_tag 'Add to Cart',:onclick => "alert('added to cart')"  %> 
				<% end %>
				<%end %>
			</div>
		<% end %>
	</div>
		
		<!--cart-->

			  <!-- Button trigger modal -->
			  <div>
			  <button class="btn btn-link" data-toggle="modal" data-target="#viewcart">
			    View Cart
			  </button>
			  <div>

			  
		 <!-- Modal -->
		  <div class="modal fade" id="viewcart" tabindex="-1" role="dialog" aria-labelledby="mylabel" aria-hidden="true">
		    <div class="modal-dialog">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title" id="Title">Your Cart</h4>
		        </div>
		        <% if @cart_items ==nil %>
		         nil
		         <% else %>
		        <% for i in 0..@cart_items.length-1  %>
		        	<% cartitem = @cart_items[i] %>
		        	<% item = @cart_items_data[i] %>
			        <div class="modal-body">
			          Name: <%= item.name %><br>
			          Quantity: <%= cartitem.quantity %><br>
			        </div>

		        <% end %>
		        <%end%>
		        	<div class="modal-body">
			          Total: <%= @total_price %><br>
			        </div>
		        <div class="modal-footer">
		        	 <%= button_to "Clear Cart",  {controller: "home", action:  "clearcart"}, {class: 'btn btn-primary'}%>
					<%= button_to "Checkout",  {controller: "home", action:  "clearcart"}, {class: 'btn btn-primary', "onclick" => "func()"}%>
		          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		    </div>
		  </div>

		  <script>
		  function func(){
		  	// $('#payment').modal("show");
		  	prompt("Input credit card number:","");
		  }
		  </script>


		   <div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="mylabel" aria-hidden="true">
		    <div class="modal-dialog">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title" id="Title">Check out item</h4>
		        </div>
		     

			        <div class="modal-body">
			        	<div class="form-group">
					      <label for="ccn">Credit card number:</label>
					      <input type="text" class="form-control" id="ccn">
					    </div>
			        </div>

		 
		        <div class="modal-footer">
		        	 <%= button_to "Enter",  {controller: "home", action:  "clearcart"}, {class: 'btn btn-primary'}%>
		        </div>
		      </div>
		    </div>
		  </div>
</body>
</html>



